/* drone_pages/DroneHome.css */
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  text-align: center;
}

.home-page p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.5;
}

.home-page h1 {
  font-size: 36px;
}