/* drone_components/DroneServiceCard.css */
.service-card {
  background: var(--block);
  border: 1px solid var(--border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  width: 100%;
  color: var(--text);
}

/*.service-card:hover {
  transform: translateY(-5px);
}*/

.card-image-wrap {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
}

.card-image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.service-title {
  font-weight: bold;
  font-size: 18px;
}

.category {
  font-size: 14px;
  color: var(--text);
}

.card-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.details-btn {
  padding: 8px 14px;
  border-radius: 6px;
  background: var(--button);
  color: var(--button-text);
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  border: none;
  font-size: 15px;
}

.details-btn:hover {
  background: var(--hover);
}
